#title{
    background-color: #a7df0e;
    padding: 7% 7%;
    height: 100vh;
  
  }
  
  .download-button{
      margin: 5% 3% 5% 0;
  }
  
  .title-image{
    padding-top: 10%;
  }
  
  .main-text{
    font-size: 3rem;
    line-height: 1.5;
    color:#fff;
  }
  
  .covid-text{
    text-align: center;
    padding-top: 2px;
  }
  
  /* Second section for customer table  */
  #customer-table{
    text-align: center;
    padding: 5% 15%;
    background-color: rgb(183, 228, 241);
  }
  
  /* cta */
  #cta{
    background-color: #f0cf12;
    padding: 7% 15%;
    text-align: center;
    line-height: 1.5;
    color: rgb(235, 119, 119);
    height: 100vh;
  }
  
  .btn1{
      background-color: rgb(78, 78, 202);
      color: cornsilk;
      margin: 2px 2px;
  }
  
  /* footer */
  #footer{
    padding: 4% 15%;
    text-align: center;
  }
  .social-icon{
    margin: 2% 2%;
  }
  <style>
    body {font-family: Arial, Helvetica, sans-serif;}
     {box-sizing: border-box;}
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 800px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  

  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    height: 100vh;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    margin-top: 40px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    margin: 5px 5px;
    margin-top: 15px;
}

  </style